# Regular Expressions - Advanced

Extracting subsets of data based on regex

In [3]:
import pandas as pd
import re

hn = pd.read_csv("hacker_news.csv")
titles = hn['title']

In [4]:
# Start looking at the flavours of SQL that are mentioned in article titles
sql_counts = titles.str.contains(r"sql", flags=re.I).sum()
sql_counts

108

In [8]:
# Extract rows that mention SQL and create a column containing the captured sql string, ie the flavour of SQL
sql_bool = titles.str.contains(r"sql", flags=re.I)
# subset the hn df with a copy containing only records that metion SQL in their title
hn_sql = hn[sql_bool].copy()
hn_sql

,id,title,url,num_points,num_comments,author,created_at
9,11370829,Crate raises $4M seed round for its next-gen S...,http://techcrunch.com/2016/03/15/crate-raises-...,3,1,hitekker,3/27/2016 18:08
142,10957172,PostgreSQL: Linux VS Windows part 2,http://www.sqig.net/2016/01/postgresql-linux-v...,16,3,based2,1/23/2016 4:21
221,11544342,MemSQL (YC W11) Raises $36M Series C,http://blog.memsql.com/memsql-raises-series-c/,74,14,ericfrenkiel,4/21/2016 18:32
394,10620525,The History of SQL Injection,http://motherboard.vice.com/read/the-history-o...,38,9,kawera,11/24/2015 13:25
419,10301554,Pentesterlab Tutorial SQL injection to web ad...,https://pentesterlab.com/exercises/from_sqli_t...,2,1,pentestercrab,9/30/2015 3:32
...,...,...,...,...,...,...,...
19133,12041615,PostgreSQL: Linux VS Windows [Benchmark],http://www.sqig.net/2016/01/postgresql-linux-v...,2,3,insulanian,7/6/2016 7:01
19580,12252112,PostgreSQL Index Internals,https://www.pgcon.org/2016/schedule/events/934...,211,21,snaga,8/9/2016 2:09
19769,11953895,SQL Server on Linux in Preview,https://azure.microsoft.com/en-us/blog/microso...,15,2,rjdevereux,6/22/2016 13:55
19802,12223216,Uber's Move Away from PostgreSQL,http://rhaas.blogspot.com/2016/08/ubers-move-a...,119,15,ioltas,8/4/2016 3:36
19965,11952157,Show HN: ExtractorApp Convert Excel / CSV to A...,https://extractorapp.com/,4,2,cdsmarty,6/22/2016 7:45